Log {
    border: $primary;
    max-height: 20;
    height:auto;
}
TestTree {
    width:1fr;
    height: 1fr;
    border-top: white;

}
Vertical{
    width:1fr;
}

Collapsible {
    height: auto;
}

#adasd:focus {
    background: $error;
}
