Log {
    border: $primary;
    max-height: 20;
    height:auto;
}
TestTree {
    height: auto;
}
Collapsible {
    height: auto;
}

*:focus {
    background: $error;
}

#aa {
    margin:0;
    padding:0;
}
